.container{
  margin-top: 40px;
}

.card{
    margin: 10px;
}

.card img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn.btn-outline-success{
    margin: 20px;
}

.btn.btn-outline-danger{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}