<ng-container *ngIf="wishListItems.length == 0">

    <div class="container">
    <div class="card">
        <h4>Your Wishlist <i style="color: rgb(34, 34, 34);" class="fas fa-hand-holding-heart"></i></h4>
            <!-- <i style="color:rgba(0, 0, 0, 0.959);" class="far fa-heart"></i> -->
    </div>

    <div class="center">
        <h5><strong>❤️ Your Wishlist is empty!</strong></h5>
        <button [routerLink]="['/groceries']" routerLinkActive="router-link-active"  class="btn btn-primary">Add something here...</button>
    </div>

</div>
</ng-container>

<ng-container *ngIf="wishListItems.length != 0">
    <div class="container">
<div class="card-table">
    <div class="cart-product">
        <table class="table table-responsive">
            <thead style="text-align: center;">
                <tr>
                    <th>Product name</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let item of wishListItems">
                            <td>{{item.name}}</td>
                            <td>
                                <img style="width: 100px;" src="{{item.image}}" alt=""></td>
                            <td>{{'$'+ item.price}}</td>
                            <td><button (click)="deleteWishlistItems(item)" class="btn btn-danger">Remove</button></td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <button (click)="emptyWishlist()" class="btn btn-danger">Empty Wishlist</button>
                            </td>
                            <td>
                                <button [routerLink]="['/groceries']" class="btn btn-primary">Back to Shopping</button>
                            </td>
                        </tr>
                    </tbody>
        </table>
    </div>
</div>
</div>
</ng-container>