.card{
    margin: 10px;
}

.card img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn.btn-primary.cart-btn{
    margin: 20px;
}

.btn.btn-primary.wishlist-btn{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}