<div class="container">
    <div class="row">
        <ng-container *ngFor="let grocery of groceries">
        <div class="card col-md-3">
            <img src="{{grocery.image}}" alt="">
            <h5 style="margin-left: 20px;">{{grocery.name}}</h5>
            <p style="margin-left: 20px;"><strong>Price: </strong>{{'$' + grocery.price}}</p>
            <button  class="btn btn-primary cart-btn" (click)="addToCart(grocery)">Add to Cart</button>
            <button (click)="addToWishlist(grocery)" class="btn btn-primary wishlist-btn">❤️ Add to Wishlist</button>
        </div>
    </ng-container>
    </div>
</div>