<div id="login-box">
    <form class="form" #f="ngForm" (ngSubmit)="login(f.value)" >
    <div class="left">
      <h1>Login</h1>
        
      <input class="FormControl" type="text" ngModel name="username" placeholder="Username" autofocus required>
      <input class="FormControl" type="password" ngModel name="password"  placeholder="Password" required>
      
      <button class="btn btn-success" type="submit" name="login_submit">Login</button>

    </div>
    
    <!-- Login w/ Social Media  -->
    <div class="right">
      <span style="color: rgb(56, 56, 56)" class="loginwith">Sign in with<br />Social Network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
</form>
    <div class="or">OR</div>
  </div>