<div id="login-box">
  <div class="form-group">
    <div class="left">
      <h1>Sign up</h1>
      <form class="form" #f="ngForm" (ngSubmit)="signupUser(f.value)">
      <input type="text" class="form-control" ngModel name="username" placeholder="Email" />
      <input type="password" class="form-control" ngModel name="password" placeholder="Password" />
      <input type="password" class="form-control" name="password2" placeholder="Retype password" />
      
      <!-- <input (click)="signupUser()" type="submit" name="signup_submit" value="Sign me up" /> -->
      <button class="btn btn-success" type="submit" name="login_submit">Sign Up</button>
      <button style="margin-left: 10px;" [routerLink]="['/login']" class="btn btn-outline-dark" type="submit" name="login_submit">Login</button>

    </form>
    </div>
    
    <div class="right">
      <span style="color: rgb(56, 56, 56)" class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    </div>
    <div class="or">OR</div>
  </div>